@use '../../variables.scss'as *;
.modal-content{
    margin-top: 15px !important;
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    button{
        font-size: 18px;
        background-color: transparent;
        border: none;
        color: $gray;
        transition: ease-in 0.2s;
        font-family: $main-font;
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 500;
    }
    button:hover{
        color: $dark;
    }
    a{
            text-decoration: none;
            font-size: 18px;
            color: $gray;
            font-family: $main-font;
            margin-left: 7px;
            transition: ease-in 0.2s;
    }
    a:hover{
        color: $dark;
    }
    .mt-3{
        margin-top: 10px;
    }
    .mt-4{
        margin-top: 20px;
    }
}

.modal-content__sub__menu{
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: flex;
    gap: 5px;
    flex-direction: column;
    li{
        margin-left: 25px;
        a{
            img{
                position: relative;
                bottom: 2px;
            }
            align-items: center;
            display: flex;
            gap: 10px;
        }
    }
}

.button-group{
    button{
        font-size: 1em;
        border: none;
        padding: 15px 20px;
        font-family: $main-font;
        border-radius: 16px;
        background-color: $white;
        color: $dark;
        border: 1px solid $dark;
        transition: ease-in 0.2s;
    }
    button:nth-child(1){
        border: 1px solid $white;
    }
    button:hover{
        background-color: $dark;
        color: $white;
    }
    gap: 15px;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}